* { 
  margin: 0;
  padding: 0;
}
body, html{
  width: 100%;
  height: 100%;
}
#canvas {
  display: block;
}

#guess {
  top: 0;
  width:100px; 
  right:0; 
  bottom: 0;
  background:red; 
  position:absolute;

}